.row-pointer {
  cursor: pointer;
}

.file-name-hyperlink {
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.list-icons {
  color: #400094;
  font-size: 20px;
  margin-left: 1rem;
  cursor: pointer;
}

.file-icon {
  color: #400094;
  font-size: 20px;
  margin-left: 1rem;
}

.folder-step {
  font-size: 1rem;
  font-weight: 700;
}

.folder-back-button {
  margin: 3px 1rem;
}

.view-icon {
  margin-left: 0.2rem;
}