iframe {
    width: 100%;
    height: 58vh;
    padding: 0 0 0 7rem;
}

@media (min-width: 300px) and (max-width: 785px){
    iframe {
        padding: 0;
    }
}

@media (min-width: 1111px) and (max-width: 1299px){
    iframe {
        padding: 0 0 0 4rem;
    }
}
