.status-container {
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.status-box {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.sender-box-header {
    color: #42464a;
}

.read-only-fields {
    background-color: #e9ecef;
    opacity: 1;
}

#status-selector {
    opacity: 0;
    position: absolute;
}

.watcher-list {
    overflow: auto;
    height: 150px;

    .watcher {
        color: #400094;
    }
}

.custom-text-area {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow-y: auto;
}
