/* WORK ITEM ATTACHMENTS LIST OPTION BUTTON STARTS */
.mat-mini-fab {
    background-color: #400094;
    box-shadow: none;
    width: 24px;
    height: 24px;
    top: 7px;
}

.more-icon {
    font-size: 18px;
    margin-top: -11px;
    color: white;
}

.count {
    font-size: 9px;
}
/* WORK ITEM ATTACHMENTS LIST OPTION BUTTON ENDS */