@import "../node_modules/bootstrap/scss/bootstrap";
// @import "./assets/fontawesome.all.min.css";
// @import "./assets/webfonts";

$primary:       #400094 !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

body {
  font-size: .875rem !important;
  font-family: 'PT Sans', sans-serif !important;
  background-color: #F5F5FF !important;
  background-image: url("./assets/images/Home_screen_background.png") !important;
  background-size: cover !important;
  background-position: bottom !important;
  background-attachment: fixed !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Libre Franklin', sans-serif !important;
  font-weight: bold !important;
  color: #400094 !important;
}

.h2 {
  font-size: 1.3rem !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 6em;
}


@media (min-width: 768px) {
  [role="main"] {
    padding-top: 0em;
    /* Space for fixed navbar */
  }
}

/*
   * Navbar
   */

.navbar {
  pointer-events: none;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: white;
  pointer-events: auto;
}

#navbar-logo {
  max-height: 4em;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar-settings {
  display: flex;
  flex-direction: row-reverse;
  pointer-events: initial;
  cursor:pointer;
}


@media (max-width: 47.9em) {
  .navbar {
    background-color: white;
  }
  .navbar .menu-icon {
    font-size: 2rem;
  }
  .navbar .fa-caret-down {
    display: none;
  }
}


.user-circle {
  background-color: #00cdb8;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  font-family: 'Libre Franklin';
  transition: 0.3s;
  margin-right: 1.25em;
}

.user-circle:hover,
.user-circle.active {
  background-color: #86e7de;
}

.user-circle:hover .fa-caret-down {
  transition: 0.3s;
  color: #86e7de;
}

.user-circle .fa-caret-down {
  position: absolute;
  color: #333333;
  margin-left: 2.25em;
}

/* Heading */

.heading-icon {
  height: 2em;
}

/* Navigation */

.breadcrumb {
  background-color: transparent;
}


/* Cards */

.card {
  background-color: white !important;
  border-radius: 1rem !important;
  padding: 2rem !important;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05) !important;
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05) !important;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05) !important;
  margin: 2rem 0 !important;
  border: none !important;
}

.card-header {
  padding: 0 !important;
  margin-top: -8px;
  font-family: "Libre Franklin", sans-serif !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  margin-bottom: 1.5rem !important;
  background-color: transparent !important;
  border-bottom: none !important;
  color: #400094 !important;
}

.card-body {
  padding: 0 !important;
}

/* Forms */

.form-control {
  border-radius: 0.5rem !important;
}

.btn {
  padding: 0.75rem 1rem !important;
  border-radius: 1rem !important;
}

.badge {
  padding: 0.75em 1em !important;
}

/* Tabs */

ul.nav-tabs {
  border-bottom: 0;
}

ul.nav-tabs .nav-link {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 1rem 2rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
}

.tab-pane.card {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}

.dropdown-menu {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.875rem;
}

/* Tables */

.table thead th, .table td {
  //border-bottom: 0;
  border-top: 0;
  padding: 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F6F6FE;
}

.badge {
  font-size: 85%;
}
